#store__sub-nav-links {
  position: relative;
  display: flex;
  // overflow-x: auto;
  // padding: 0 30px;
  // margin-right: -10px;
  // padding-bottom: 10px;
  // padding: 10px 0;
  margin: 0 auto;
  max-width: 920px;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
  // background: rgba(255, 255, 255, 0.359);
  // border: 2px solid #bcb9a9;
  button.nav-link__title {
    position: relative;
    cursor: pointer;
    background-color: #efefefdb;
    border-radius: 0;
    padding: 14px;
    color: #222;
    font-size: 18px;
    border-right: 1px solid rgb(195, 193, 193);
    &:last-child {
      border-right: none;
    }
    &.active {
      position: relative;
      background: #2da9e0;
      color: #fff;
      &:after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 20px;
      }
    }
  }
}

.items-container {
  position: relative;
  // display: grid;
  // grid-template-columns: repeat(5, 1fr);
  display: flex;
  justify-content: center;
}
