.content-row-container {
	// margin: 20px 0px;
	// z-index: 100;
	// padding: 0 10px;
	margin-bottom: 1.8em;
	.content-title {
	}
	.content-row > div {
		border-radius: 8px;
		border: var(--border);
		overflow: hidden;
	}
}
