#vertical-navigation {
	background-color: var(--purpleSecondary);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: var(--sideNavWidth);
	padding-top: calc(var(--headerHeight) + 0px);
	z-index: 60;
	display: flex;
	#profile-link {
		a {
			display: flex;
			flex-direction: column;
		}
		span {
			margin-top: 5px;
		}
	}
}
