.store-item-wrapper {
	background: #fff;
	margin: 10px;
	border-radius: 2px;
	padding: 10px 8px;
	text-align: center;

	h2 {
		font-size: 16px;
		color: #333;
		text-shadow: none;
		margin-bottom: 0;
	}

	.store-item__description {
		font-size: 13px;
		line-height: 18px;
	}
	.store-item__points {
		display: flex;
		justify-content: center;
		margin-top: 12px;
		margin-bottom: 5px;
		font-weight: bold;
		font-size: 13px;
		padding: 0 2px;
		#price {
			position: relative;
		}
		#points {
			color: #2da9e0;
			margin: 0 auto;
		}
	}
	button {
		opacity: .55;
	}
	&.eligable {
		#price::after {
			content: '';
			position: absolute;
			top: 50%;
			left: -3px;
			transform: translateY(-50%);
			width: calc(100% + 6px);
			height: 1px;
			background-color: #2daae0da;
			// text-decoration: line-through #2daae080 2px;
		}
		button {
			opacity: 1;
		}
	}
}

.modal .icon-wrapper {
	position: relative;
	svg {
		display: block;
		height: 40px;
		margin: 0 auto;
		margin-bottom: 15px;
	}
}
