* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: "Jost", sans-serif;
  color: #242526;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f3f3f3; */
  /* background-color: #f6f6f6; */
  /* background-color: var(--bg-accent); */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5em;
  color: #333;
  background: url("https://digitalmarketing.blob.core.windows.net/11446/images/items/image615074.jpg");
  /* background: url('https://digitalmarketing.blob.core.windows.net/11446/images/items/image711701.jpg'); */
  /* background: url('https://digitalmarketing.blob.core.windows.net/11446/images/items/image703619.jpg'); */
  background-size: cover;
  background-position: center;
  /* background: #dddddd; */
  height: 100%;
}

body::after {
  content: "";
  background: rgb(0, 0, 0);
  background: -moz-radial-gradient(
    circle,
    rgba(0, 0, 0, 0.6800934866573034) 0%,
    rgba(0, 0, 0, 0.2671721383426966) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(0, 0, 0, 0.6800934866573034) 0%,
    rgba(0, 0, 0, 0.2671721383426966) 100%
  );
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.6800934866573034) 0%,
    rgba(0, 0, 0, 0.2671721383426966) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --orange: #ff5533;
  --red: #ea4335;
  --blue: #557dbf;
  --blueText: #35578d;
  --darkBlue: #557dbf;
  --green: #1fb57b;
  --darkGreen: #129b6a;
  --lightGreen: #85d3bd;
  --yellow: #fddf71;
  --darkYellow: #d7b258;
  --borderColor: #e6e6e6;
  --border: 1px solid #e6e6e6;
  --backgroundHover: rgb(246, 246, 246);
  --transitionSpeed: 500ms;
  --boxShadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.085);
  --boxShadow2: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;

  --inter: "Inter", sans-serif;
  --jost: "Jost", sans-serif;
  --pageMaxWidth: 1200px;
  --boxShadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.085);
  --boxShadow2: 0 2px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
  --boxShadow3: rgba(0, 0, 0, 0.1) 0px 2px 3px 0px;
  --sideNavWidth: 85px;
  --headerHeight: 85px;
  --mobileHeaderHeight: 85px;
  --jost: "Jost", sans-serif;
  --rubik: "Rubik", sans-serif;
}

button,
body,
p,
input,
textarea {
  font-family: var(--inter);
}

body,
p {
  color: #242526;
}

h1 {
  font-family: var(--jost);
  margin: 10px 0;
  font-weight: 800;
}

h2 {
  font-family: var(--jost);
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
}

h3 {
  font-family: var(--inter);
  font-size: 18px;
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 88vh;
}

.form-page-container .card {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
  max-width: 580px;
  padding: 30px 1.5em;
  transition: var(--transitionSpeed);
}

@media only screen and (max-width: 900px) {
  .form-page-container .card {
    padding: 30px 1.5em !important;
    box-shadow: none !important;
  }

  .form-page-container {
    display: block;
  }
}
