.return-button-wrapper,
.return-button-wrapper a {
  background: transparent;
  color: #ffffff;
  font-size: 15px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-shadow: 0px 2px 4px #00000042;
  font-weight: 600;
  padding: 4px 8px !important;
}

.return-button-wrapper button,
.return-button-wrapper a button {
  text-shadow: 0px 2px 4px #00000042;
  font-weight: 600;
  font-size: 15px !important;
  padding: 15px 18px !important;
  color: #ffffff;
  background: #2da9e0a1;
}

.return-button-wrapper button svg,
.return-button-wrapper a button svg {
  height: 12px;
}

.return-button-wrapper .return-icon-wrapper,
.return-button-wrapper a .return-icon-wrapper {
  margin-right: 10px;
}

.return-button-wrapper .return-icon-wrapper svg,
.return-button-wrapper a .return-icon-wrapper svg {
  height: 15px;
  display: block;
}

header {
  position: relative;
  width: 100%;
  text-align: center;
  height: var(--headerHeight);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11111;
  padding: 0.8em 0;
}

header .header-inner-wrapper {
  height: inherit;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-inner-wrapper #logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 15px;
  -webkit-transition: 280ms ease;
  transition: 280ms ease;
}

header .header-inner-wrapper #logo.logged-in {
  left: 30px !important;
  top: 50px !important;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

header .header-inner-wrapper #logo.logged-in img {
  display: none !important;
  width: 150px;
}

header .header-inner-wrapper #logo img {
  display: inline-block;
  height: auto;
  width: 185px;
  -webkit-transition: 280ms ease;
  transition: 280ms ease;
}

header .icon-wrapper svg {
  display: block;
  height: 16px;
  color: #ffffff;
}

.logout-warning {
  position: fixed;
  bottom: 0;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1111;
  width: 100%;
  padding: 14px 0;
  background-color: #f9ff4eaf;
  -webkit-box-shadow: 0 0 3px 2px #d8cd044a;
          box-shadow: 0 0 3px 2px #d8cd044a;
  -webkit-transition: 900ms;
  transition: 900ms;
  visibility: hidden;
  font-size: 14px;
  font-weight: 500;
}

.logout-warning button.extend-session-button {
  width: initial;
  padding: 0;
  background-color: transparent;
  font-size: inherit;
  margin: 0;
  font-weight: inherit;
  color: inherit;
  margin-left: 5px;
  background: #fffd76;
  padding: 6px 10px;
  border-radius: 50px;
}

.logout-warning.visible {
  visibility: visible !important;
}

@media only screen and (max-width: 600px) {
  header {
    height: var(--mobileHeaderHeight) !important;
  }
}
/*# sourceMappingURL=Header.css.map */