.place-preview {
	position: relative;
	.icon-container {
		position: absolute;
		cursor: pointer;
		svg {
			cursor: pointer;
			width: 22px;
			color: #ffffff;
			path {
				stroke: #313131;
				stroke-width: 4px;

				stroke-linejoin: round;
			}
		}
		&#view {
			top: 12px;
			right: 12px;
			button {
				padding: 0;
				background: none;
			}
		}
	}
}
